.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 25, 25);
    align-items: center;
}
.nav a{
    text-decoration: none;
    color: darkgray;
    margin-top: 30px;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
}
.nav h2{
    color: cornsilk;
    font-size: 30px;
    margin-left: 30px;
}