.footer{
 background-color: black;
}
.BA{
    color: blanchedalmond;
    display: flex;
}
.list{
    display: flex;
    justify-content: space-evenly;
    margin-right: 80px;
    color: blanchedalmond;
}