.typo{
    color: rgb(182, 168, 145);
    margin-top: 40%;
    font-size: 30px;
}
.dream{
    color: rgb(250, 175, 15);
}
.img{
    width: 500px;
    border-radius: 20px;
}

.about-button a{
    background-color: rgb(226, 130, 4);
}