.More-service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap :15px;
    align-items: center;
}

.single-products{
  border: 2px solid rebeccapurple;
  width: 305px;
  height: 430px;
  background-color: rgb(248, 133, 38);
  color: white;
  border-radius: 10px;
  margin: 30px;
}

.single-products img{
    width: 300px;
    border-radius: 5px;
}
.single-products button{
    background-color: saddlebrown;
    color: seashell;
    padding: 5px 20px;
    border: 2px white;
    border-radius: 3px;
}

/* Make Responsive */
@media only screen and (max-width:688px){
    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }
 }

 
@media only screen and (max-width:689px) and (max-width: 991px){
    .services-container{
        grid-template-columns: repeat(2, 1fr);
    }
 }